.select {
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    padding-top: 11px;
    padding-left: 27px;
    padding-right: 50px;
    padding-bottom: 10px;
    margin-left: -5px;
    z-index: 2;
    cursor: pointer;

}
.select-list__none {
    display: none;
}
.select-list__block {
    display: block;
}
.select-title {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 19px;
}
.select-list {
    position: absolute;
    width: 103%;
    box-sizing: border-box;
    background-color: #ffffff;
    list-style: none;
    padding: 0;
    z-index: 1;
    top: 1px;
    left: -5px;
    height: 200px;
    padding-top: 25px;
    padding-bottom: 20px;
    border-radius: 0px 0px 20px 20px;
}
.div-activ {
    color:#4BBAC5;
}
.sekect-list__item {
    position: relative;
    font-size: 14px;
    line-height: 36px;
   cursor: pointer;
    font-family: 'Roboto', sans-serif;
    padding-left: 26px;
    margin-right: 10px;
}
.sekect-list__item:hover{
    background-color: #EEEEEE;
    
}

.select-box {
    position: relative;
}
.scrollbar-container {
    z-index: 10;
}