.footer-heading-text {
    font-size: 22px;
    line-height: 26px;
    color: #2B4F6F;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.footer-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-bottom: 34px;
}

.footer-heading-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
}

.footer-heading-item {
    padding-left: 90px;
    margin-right: 165px;
    position: relative;
}

.footer-heading-item::before {
    position: absolute;
    content: '';
    width: 48px;
    height: 48px;
    background-color: #BDBDBD;
    border-radius: 50%;
    left: 25px;
}

.footer-heading-item:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 48px;
    height: 48px;
    background-color: #BDBDBD;
    border-radius: 50%;
    left: 20px;
}

.footer-heading-item:nth-child(3)::before {
    position: absolute;
    content: '';
    width: 48px;
    height: 48px;
    background-color: #BDBDBD;
    border-radius: 50%;
    left: -10px;
}

.footer-heading-item--mod:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 48px;
    height: 48px;
    background-color: #BDBDBD;
    border-radius: 50%;
    left: 32px;
}

.footer-heading-item--mod:nth-child(3)::before {
    position: absolute;
    content: '';
    width: 48px;
    height: 48px;
    background-color: #BDBDBD;
    border-radius: 50%;
    left: -33px;
}

.footer-heading-item:nth-child(3) {
    margin-right: 10px;
    padding-left: 50px;
}

.footer-heading-item:nth-child(6) {
    margin-right: 10px;
}

.footer-heading-text--mod:nth-child(1) {
    margin-right: 35px;
}

.footer-heading-item--mod {
    padding-left: 50px;
    margin-bottom: 40px;
}

.footer-heading-item--mod:nth-child(3) {
    padding-left: 25px;
}

.footer-heading-item--mod:nth-child(2) {
    padding-left: 100px;
    margin-right: 155px;
}

.footer-heading-list--mod {
    margin-bottom: 40px;
}